h1 {
    font-size: 36px;
}

html {
    height: 100%;
}



body {min-height: 100%;
   
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100% );
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
  list-style-type: none;  
 
}
.container {
    background-color: white;
    padding: 20px 20px;
    margin-top: 40px;

    border-radius: 16px;

  
}
  .date {
        font-size: 24px;
        
    }

.temperature {
    font-size: 36px;

}

.units {
    position: relative;
    font-size: 16px;
    top: -14px;
    
}
.main-image {
    float: left;
    padding: 0 12px;
    position: relative;
    
}

a:link {
    text-decoration: none;
}


.description {
    text-transform: capitalize;
   }
   

   .active {
    color: black;
    cursor: default;
    
}
.active:hover {

    text-decoration: none;
}

.github {
   left: 100px;
    position: relative;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
}

.weather-forecast-day {
    font-size: 16px;

}

.weather-forecast-temp {
    font-size: 16px;

}

.weather-forecast-temp-min {
    opacity: 0.5;

}

